$Fuente_principal : 'Signika', sans-serif;

// Colores
$colorA: #03BC3E;
$colorB: #027333;
$colorC: #012611;
$colorD: #195923;
$colorE: #3FBF48;
$colorF: #DEFF22;
$colorG: rgba( 255 , 255 , 255 , 0.5);


// Media Queries

$telefono:480px;
$tablet:768px;
$desktop:920px;

// Fuentes 

$delgada: 300;
$regular: 400;
$bold: 500;
$black: 700;

// Separaciones
$separacion: 5rem;
